{% extends "padre.html" %}

{% block contenido %}

<h1>INICIO</h1>

<section class="section blog-wrap bg-gray">
    <div class="container">
        <div class="row">

        {% for post in post_pagina %}
        <div class="col-lg-6 col-md-6 mb-5">
            <div class="blog-item">
                <img src="/{{ post.imagen }}" onerror="this.src='/media/defecto.jpg';" class="img-fluid rounded" style="object-fit: cover; object-position: center; width: 100%;height: 200px;">
                <div class="blog-item-content bg-white p-5">
                    <div class="blog-item-meta bg-gray py-1 px-2">
                        <span class="text-muted text-capitalize mr-3"><i class="ti-pencil-alt mr-2"></i>{{post.autor}}</span>
                        <span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i>{{post.fecha|date:'Y-m-d'}}</span>
                    </div> 
                    <h3 class="mt-3 mb-3"><a href="{% url '_post' post.id %}">{{post.titulo}}</a></h3>
                    <p class="mb-4">{{post.subtitulo}}</p>

                    <a href="{% url '_post' post.id %}" class="btn btn-small btn-main btn-round-full">Leer Mas</a>
                    {% if user.is_superuser %}
                        <a class="btn btn-small btn-main btn-round-full" href="{% url '_editarpost' post.id %}">Editar</a>
                        <a class="btn btn-small btn-main btn-round-full" href="{% url '_eliminarpost' post.id %}">Eliminar</a>
                    {% endif %}
                </div>
            </div>
        </div>
        
        {% endfor %}  
        
        
    </div>
    <!-- Se agrega la paginacion para poder cambiar de paginas --> 
    {% include "paginacion.html" with page_obj=post_pagina  %} 
</section>

{% endblock %}