
{% extends "padre.html" %}
{% block contenido %}

<h1>Información de los creadores </h1>

<div class="sidebar-widget card border-0 mb-3">
    <img src="../../media/creadores/MV.jfif" alt="" class="sobre-nosotros-img" >
    <div class="card-body p-4 text-center">
        <h5 class="mb-0 mt-4">Matias Federico Vera</h5>
        <p>Ing. Electrónico </p>
        <p>Vivo en la provincia de San Juan, tengo 29 años. Mis primeros pasos en programacion fueron con Assembler en controladores Motorola, luego continue con programacion
            en Arduino. Con respecto a la programacion (no basada en microcontroladores), comence de forma autodidacta programando en C, luego diseñe algunos software en C# (utilizando bases de datos SQL y access). Ademas 
            ,tambien de forma autodidacta, diseñe un script en Python que recolecta todo mi portfolio de Binance; lo cual me motivo a hacer el curso de Python en Coderhouse.
            A su vez, realice el curso de Data Analytics por lo que tengo conocimientos de SQL y PowerBI. </p>
        <ul class="list-inline author-socials">
            <li class="list-inline-item mr-3">
                <li class="list-inline-item"><a href="https://github.com/VeraMatias" target="_blank"><i class="ti-github mr-2"></i>Github</a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/matias-f-vera/" target="_blank"><i class="ti-linkedin mr-2"></i>Linkedin</a></li>
            </li>
        </ul>
    </div>
</div>

<div class="sidebar-widget card border-0 mb-3">
    <img src="../../media/creadores/MDP.jpg" alt="" class="sobre-nosotros-img" >
    <div class="card-body p-4 text-center">
        <h5 class="mb-0 mt-4">Mariano De Leon</h5>
        <p>Tec. Electrónico </p>
        <p>Vivo en la provincia de San Juan, tengo 28 años. Realice un curso basico de html y un curso de diseño ux/ui, llamado 
            "Digit@lers Telecom Argentina" y actualmente realizando el curso de Python en Coderhouse</p>
        <ul class="list-inline author-socials">
            <li class="list-inline-item mr-3">
                <li class="list-inline-item"><a href="https://github.com/MarianoDeLeonPerez" target="_blank"><i class="ti-github mr-2"></i>Github</a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/mariano-gabriel-de-leon-perez-413528226/" target="_blank"><i class="ti-linkedin mr-2"></i>Linkedin</a></li>
            </li>
        </ul>
    </div>
</div>


{% endblock %}